.issue-container{
    border:0.5px solid;
    margin: 0px 15em;
    align-content: left;    
}
.issue-title a{
    display: flex;
    font-weight: bold;
    align-items: left;
    text-decoration: none;
    color: black
}
.user-name a{
    text-decoration: none;
    color: black
}
a:hover{
    color: royalblue;
}
.greyed-line{
    display: flex;
    font-size:14px;
    color:rgba(0,0,0,0.5);
}