.avatar-image {
    width:80px;
    height: 80px;
}
.avatar-image-comment {
    width:25px;
    height: 25px;
}
.user{
    display: flex;
    flex-direction: column
}
.comments-container{
    display: flex;
    flex-direction: column
}
.comments{
    border: 1px solid;
    padding:4px;
    display: flex;
    align-items: center
}
.comment-type{
    padding: 10px;
    margin-bottom: 20px;
}