.header{
    display: flex;
    align-items: center;   
    background-color: black;
    height: 100px;
}
.git-icon{
    padding-left:100px; 
    height: 100px;
    width: 100px;
}
.input-search{
    height: 30px;
    border-radius: 10px;
    margin-left: 500px
}