.pagination {
    list-style: none;
    display: flex;
    justify-content: space-around;
 }
 .pagination a {
    color: black;
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    outline: none;
 }
 .pagination .active-page a {
    background-color: #0366d6;
    border-color: aqua;
    color: yellow;
 }
 .pagination a:hover:not(.active) {
    background-color: green
 }